body{
	background-image: url("img/lara-hughes-blahaj-spin-compressed.gif"), url("img/trans.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0px -300px, top;

}

#title{
	padding: 0px 600px;
}

#intro{
	padding: 10px 600px;
}
